.overlay {
  position: fixed;
  z-index: 1150;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 16px;
  background-color: rgba(46, 38, 40, 0.7);
}

.modal {
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 46px 26px;
  text-align: center;
  width: 90vw;
  height: 90vh;
  min-height: 500px;
  background-color: rgb(22, 16, 23);
  border-radius: 10px;
  overflow: clip;
  -webkit-box-shadow: 0px 10px 50px -7px rgba(203, 128, 255, 0.8);
  -moz-box-shadow: 0px 10px 50px -7px rgba(203, 128, 255, 0.8);
  box-shadow: 0px 10px 50px -7px rgba(203, 128, 255, 0.8);
}

.icon {
  cursor: pointer;
  position: absolute;
  z-index: 1200;
  top: 2vh;
  right: 4vw;
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: fill 250ms linear;
  fill: rgba(255, 255, 255, 0.5);
}

.icon:hover {
  fill: white;
}

.img {
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 10px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8rem;
  margin-bottom: 20px;
  line-height: 1;
  font-size: 30px;
  color: rgb(196, 216, 255);
}

.time {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 6px;
  letter-spacing: 0.15rem;
}
