.container {
  overflow: hidden;
  /* -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 24px 0px rgba(142, 149, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 24px 0px rgba(142, 149, 255, 0.5);
  box-shadow: inset 0px 0px 24px 0px rgba(142, 149, 255, 0.5);
  height: 270px;
}

.list {
  overflow: scroll;
  width: 100%;
  text-align: start;
  padding: 0 6px;
  height: 220px;
}

.item {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 6px;
}

.title {
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.article {
  font-size: 13px;
  margin: 6px 6px 0 6px;
}

.link {
  width: fit-content;
  display: block;
  margin: auto 6px;
  margin-left: auto;
  font-size: 12px;
  color: rgb(0, 149, 255);
}

@media screen and (min-width: 800px) {
  .container {
    overflow: scroll;
    margin-top: 20px;
    height: fit-content;
    /* max-height: fit-content; */
  }

  .list {
    padding: 0 40px;
    height: 280px;
    overflow-y: scroll;
  }

  .item {
    margin-top: 12px;
    padding: 6px;
    transition: all 250ms;
  }

  .item:hover {
    transform: scale(1.1);
  }

  .article {
    color: rgba(255, 255, 255, 0.6);
  }

  .item:hover .article {
    color: white;
  }

  .title {
    margin-top: 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
  }

  .link:hover {
    color: rgb(255, 200, 0);
    text-decoration: underline;
  }
}
