.container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 30px;
}

.condition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 26px;
  line-height: 0;
  vertical-align: bottom;
}
